{
"bootstrap": false,
"server": false,
"datacenter": "reut's data-center",
"data_dir": "/var/consul",
"encrypt": "PfCkrq/lFPem7slKP5N2Cw==",
"log_level": "INFO",
"enable_syslog": true,
"retry_join": ["provider=aws tag_key=Consul tag_value=yes"]
}