<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl plugin="credentials@2.1.18">
  <scope>GLOBAL</scope>
  <id>docker-hub</id>
  <description></description>
  <username>{{docker_hub_user}}</username>
  <password>{{docker_hub_pass}}</password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
